*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #232323;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/ressources/bgsombre.jpg);
  background-size: cover;
  background-position: center;
}

.navbar-brand {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.navbar-brand a {
  color: #f1f1f1;
  text-decoration: none;
}

.navbar-end {
  position: absolute;
  display: flex;
  top: 10px;
  right: 50px;
}

.navbar-end a {
  color: #f1f1f1;
  text-decoration: none;
}

.item {
  margin: 10px;
  color: #f1f1f1;
  cursor: pointer;
}

h1 {
  font-size: 110px;
  color: #f1f1f1;
  margin-bottom: 10px;
  text-align: center;
}

.flexForm {
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flexForm > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #f1f1f1;
  line-height: 50px;
  font-size: 16px;
  border-radius: 0;
  outline: 0;
}

input[type='search'] {
  flex-basis: 500px;
  padding-right: 10px;
  cursor: pointer;
}

label img {
  width: 30px;
  position: relative;
  top: 5px;
}

.flexForm button {
  background: #500483;
  border: 1px solid #500483;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #f1f1f1;
}

.flexForm button:hover {
  background: #9c1dce;
  border: 1px solid #9c1dce;
}
